<div class="global-container">
  <h1>Zones d'entraînement - calcul interactif</h1>
  <p>
    Les zones d'entraînement peuvent servir de guide pour l'entraînement sportif. Ces zones sont associées à différentes plages de fréquence cardiaque, calculées en fonction de la fréquence cardiaque maximale (FCM). En général, on dénombre 5 zones:
  </p>
  <ul>
      <li>Zone 1 - 50% à 60% de la FCM - Activité modérée - Amélioration de la santé cardiovasculaire</li>
      <li>Zone 2 - 60% à 70% de la FCM - Contrôle de poids - Métabolisme du gras pour produire de l'énergie</li>
      <li>Zone 3 - 70% à 80% de la FCM - Aérobie - Amélioration de l'endurance</li>
      <li>Zone 4 - 80% à 90% de la FCM - Anaérobie - Amélioration de la performance et augmentation du seuil anaérobique</li>
      <li>Zone 5 - 90%  de la FCM et plus - Effort Maximum - Performance maximale sur efforts de courte durée</li>
  </ul>
  <p>
    La fréquence cardiaque maximale est le rythme cardiaque maximal auquel doit idéalement battre votre cœur. Elle est mesurée directement sur le terrain ou en laboratoire grâce à différents tests sportifs. 
    Elle peut également être estimée en fonction de différents paramètres (âge, sexe):
  </p>
  <ul>
    <li>220 – âge: hommes</li>
    <li>226 – âge: femmes</li>
    <li>207 - (0.7 x age): Universel</li>
  </ul>
  <p>
    Les délimitations des zones selon la méthode d'Astrand sont basées directement sur les pourcentages appliqués à la FCM. La méthode de Karvonen corrige certaines lacunes en introduisant le concept de fréquence de réserve.
    La réserve est la différence entre la FCM et la fréquence cardiaque minimale au repos (au lever). 
    La méthode Karvonen consiste à multiplier la réserve par le pourcentage délimitant chaque zone et en ajoutant le résultat à la fréquence minimale.
  </p>
  <p>
    La grille de calcul suivante permet de calculer les différentes zones:
  </p>
  <span id="input-zone">
    Age: <input type="number" [(ngModel)] = "age" />
    FC Minimale: <input type="number" [(ngModel)] = "fcMinimale" /> &nbsp;
    <label><input type="radio" [(ngModel)]="sexe" [value]="sexeType.Homme">Homme</label>
    <label><input type="radio" [(ngModel)]="sexe" [value]="sexeType.Femme">Femme</label>
    <label><input type="radio" [(ngModel)]="sexe" [value]="sexeType.Universel">Utiliser la méthode universelle</label>
  </span>
  <p>FCM: {{getFcMax()}}</p>
  <div class="table-container">
    <table mat-table [dataSource]="getZoneDefs()" class="mat-elevation-z8">
      <ng-container matColumnDef="zoneId">
        <th mat-header-cell *matHeaderCellDef>Zone</th>
        <td mat-cell *matCellDef="let zone">{{zone.zoneId}}</td>
      </ng-container>
      <ng-container matColumnDef="pourcentage">
        <th mat-header-cell *matHeaderCellDef>Pourcentage</th>
        <td mat-cell *matCellDef="let zone">{{zone.pourcentage}}%</td>
      </ng-container>
      <ng-container matColumnDef="fcAstrand">
        <th mat-header-cell *matHeaderCellDef>FC (Atsrand)</th>
        <td mat-cell *matCellDef="let zone">{{zone.fcAstrand}}</td>
      </ng-container>
      <ng-container matColumnDef="fcKarvonen">
        <th mat-header-cell *matHeaderCellDef>FC (Karvonen)</th>
        <td mat-cell *matCellDef="let zone">{{zone.fcKarvonen}}</td>
      </ng-container>
      <ng-container matColumnDef="pourcentageEquivalent">
        <th mat-header-cell *matHeaderCellDef>% Karvonen/FCM</th>
        <td mat-cell *matCellDef="let zone">{{zone.pourcentageEquivalent}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
    </table>
  </div>
  <p>
    Sources: <a href="https://fr.wikipedia.org/wiki/M%C3%A9thode_Karvonen">Méthode Karvonen sur Wikipédia</a>, <a href="https://www.clubpiscine.ca/fr/services-et-conseils/conseils-fitness/zones-d-entrainement">Zones d'entraînement (club piscine)</a>
  </p>
</div>
